body{
  background-image: radial-gradient(rgb(0, 186, 255), rgb(197, 24, 232));
  background-size: 100%;
  background-repeat: repeat;
    }
    main{
      margin-right: 300px;
  }
section.principal{
width: 1000px;
min-height: 400px;
left: 150px;
position: relative;
margin: 30px auto;
border: 2px solid rgb(0, 0, 0);
background-color: rgb(141, 37, 214);
}


header.principal{position: relative;
width: 100%;
height: 200px;
border-bottom: 0px solid rgb(207, 48, 48);
background-color: rgb(70, 139, 232);
background-size:100%;

}



header.principal div.logo{position: relative;
width: 169px;
height: 115px;
border: 0px solid #999;
top:40px;
left:40px;
background-image: url(../assets/pavo.png);
background-size: 80%;
background-repeat:no-repeat;
}


header.principal h1 {
  position: absolute;
top: 30px;
left:200px;

}

p.txtcentrado{
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Staatliches', cursive;
position: absolute;
font-size: 80px;
top: -25px;
left:320px;
}

nav.nav_horizontal {
  border-bottom: 4px solid rgb(13, 34, 96);
  border-top: 4px solid rgb(13, 34, 96);
  background-color: #55e2d9;

}

nav.nav-horizontal ul{
  position: relative;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

nav.nav_horizontal ul{
  position: relative;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

nav.nav_horizontal li{
  position: relative;
  border: 0px;
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

nav.nav_horizontal li a{
position: relative;
display: block;
padding: 10px 20px;
text-decoration: none;
color: #ffffff;
font-weight: bold;
font-family: 'Alfa Slab One', cursive;
font-family: 'Staatliches', cursive;
font-family: 'Archivo', sans-serif;
}

nav.nav_horizontal li a:hover{
  background-color: #050a49;
  color: rgb(253, 252, 252);
}

nav.nav_horizontal li a:active{
  background-color:rgb(0, 0, 0);
  color: rgb(246, 246, 246);
}

#slideshow{
  position:relative;
  background-color:#fff;
  border: 2px dashed rgb(0, 0, 0);
  width:700px;
  height: 250px;
  margin: 20px auto;
}


#slideshow button{
  background-color: #000000ab;
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 100px;
  color: #ffffff;
}

button.prev{
left: -1px;
}

button.next{
  right: -1px;
}

#slideshow button:hover{
  background-color: #110909ab;
  color: rgb(236, 236, 5);
}


.col{
  vertical-align: top;
  display: inline-block;
  border:2px solid rgb(255, 255, 255);
  width: 326.5px;
  min-height: 200px;
  background-color: rgba(255, 255, 255, 0.192);
  color: whitesmoke;
  height: 250px;
}

.col  header{
  text-align: center;
  color: whitesmoke;
}

.col header img{
  width: 60px;
  height: 60px;
  border: 2px solid rgb(245, 242, 242);
  margin-top:  -30px;
  background-color: #fff;
  border-radius: 50%;
}

div.cols{
  position: relative;
  margin-top: 40px;
}

.principal2{
  bottom: 0px;
  right: 10;
  text-align: center;
  font-size: 18px;
  font-family: monospace;
  color: white;
  width: 1000px;
  min-height: 25px;
  background-color: black;
  left: 150px;
  position: relative;
  margin: -31px auto;
  border: 2px solid #000;
}


p.txtcentrado {
  text-align:center;
  }
